{% extends "main-base.html" %}

{% block title %}
    About - Eren's Portfolio
{% endblock %}

{% block content %}
    <div class="jumbotron mt-5">
        <h1 class="display-4">About Eren!</h1>
        <p class="lead">Professionally, I am a business and coding perpetual student, always doing my best to keep up to date with those topics.</p>
        <p class="lead"></p>
        <p class="lead">Outside of work, I enjoy learning about Japanese culture, reading, skateboarding, art, </p>
        <hr class="my-4">
    </div>
{% endblock %}