{% extends "main-base.html" %}

{% block title %}
    Home - Eren's Portfolio
{% endblock %}

{% block content %}
    <div class="jumbotron mt-5">
        <h1 class="display-4">Hello, and welcome to my portfolio!</h1>
        <p class="lead">I immerse myself in business, accounting, and coding practices.</p>
        <p class="lead">Trying to find ways to combine them to simplify and automate the processes and practices I have used previously.</p>
        <p class="lead">With experiences in professional companies delving through journals as well as classroom experience learning the best coding practices I work towards the most efficient and optimal solutions.</p>
        <hr class="my-4">
        <p>Learn more about what I do and how I do it.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
{% endblock %}
